* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #17290cbd;
    color: white;
}

/* HERO SECTION */
.hero {
    min-height: 100vh;
    padding: 40px 80px;
    display: flex;
    flex-direction: column;
}



/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 22px;
    font-weight: 600;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: 0.3s;
}

.nav-links a:hover,
.nav-links .active {
    border-bottom: 2px solid white;
    padding-bottom: 4px;
}

/* HERO CONTENT */
.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

   
}

/* TEXT CONTENT */
.text-content {
    max-width: 600px;
}

.text-content h1 {
    font-size: 48px;
    font-weight: 700;
}

.text-content h2 {
    font-size: 24px;
    margin: 10px 0 20px;
    font-weight: 600;
}

.text-content p {
    font-size: 14px;
    color: #ddd;
    line-height: 1.6;
    margin-bottom: 30px;
}




/* SOCIAL ICONS */
.social-icons {
    display: inline-flex;
    gap: 15px;
    margin-left: 20px;
}

.social-icons a {
    width: 35px;
    height: 35px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: 0.3s;
}

.social-icons a:hover {
    background: white;
    color: #5f0a87;
}

/* IMAGE SECTION */
.image-content {
    position: relative;
    
    
}

.circle {
    width: 350px;
    height: 350px;
    border-radius: 60%;
    padding: 8px;
    background: linear-gradient(135deg, #637e89, #617f89, #1b1f3b);
    box-shadow: 0 0 40px rgba(52, 66, 68, 0.6);
    margin-top:50px ;
    
   
}

.circle img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
   


    
    
}
